// global styles
* {
    box-sizing: border-box;
}
.EnhancedTable {
  padding: 16px;
  font-family: "Roboto", sans-serif;
}

.layout-align-y {
  display: flex;
  align-items: center;
}
.layout-spread {
  width: 0;
  flex-grow: 1;
}
.gap-1 {
  gap: 4px;
}
.gap-2 {
  gap: 8px;
}
.gap-3 {
  gap: 12px;
}
.gap-4 {
  gap: 16px;
}
.gap-5 {
  gap: 20px;
}
.gap-6 {
  gap: 24px;
}
.gap-7 {
  margin: 28px;
}
